sub{
	font-size: 0.67em;
	vertical-align: -10%;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
sup{
	font-size: 0.67em;
	vertical-align: 33%;
}
div.multichoice{
	list-style-type: upper-alpha;
}
img{
	max-height: 100%;
	max-width: 100%;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
.hide{
	display: none;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
.inlineblock{
	display: inline;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
body{
	white-space: pre-wrap;
}
figure{
	margin: 1em 0 1em 0;
	page-break-inside: avoid;
	text-align: center;
}
p, ul, ol{
	margin: 0px;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
dt{
	margin-bottom: 20px;
}
dl{
	margin: 0px;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
dd{
	-webkit-margin-start: 0px;
}
.pagebreak{
	break-after: page;
}
.columnbreak{
	break-after: column;
}
.s1{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #444444;
	font-family: "Iowan Old Style";
	font-size: 2.17em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 14.00pt;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s2{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "Iowan Old Style";
	font-size: 1.50em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
